# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
coverage/
mocks.json

# Папка с собранными файлами проекта
build/

# Папка для загрузки файлов
src/express/upload/img/*.*

# Переменные окружения
.env
